img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.logo {
    width: 100%;
}

.mainview {
    width: 100%;
}

.title {
    width: 100%;
    /* margin-top: 10px; */
}

.keina {
    width: 100%;
}

.natsuo {
    width: 100%;
}

.rico {
    width: 100%;
}

.insta_01 {
    width: 100%;
}

.insta_02 {
    width: 100%;
}

.insta_03 {
    width: 100%;
}



.contents02 {
    width: 100%;
}

.back_button {
    width: 100%;
    margin-top: 20%;
}






/* .part_of_click_button {
    width: 100%;
}

.click1 {
    width: 8%;
    margin-left: 19%;
}

.click2 {
    width: 8%;
    margin-left: 19%;
}

.click3 {
    width: 8%;
    margin-left: 19%;
} */